html,
body {
  width: 100%;
  height: 100%;
}
pre code .hljs {
  padding: 0.1em;
}
.pattern {
  background-color: #e5e5f7;
  opacity: 0.3;
  background-image: radial-gradient(
    #6e6e6e 1.4500000000000002px,
    #e5e5f7 1.4500000000000002px
  );
  background-size: 29px 29px;
}
